# When the application is loaded on a non-web3 browser this is the network that the browser will use.
# Note: this is passed directly to ethers.js so you'll want to make sure ethers understand the name.
export NEXT_JS_FORTMATIC_API_KEY=<YOUR_FORTMATIC_API_KEY>
export NEXT_JS_FORTMATIC_PRODUCTION_API_KEY=<YOUR_FORTMATIC_PRODUCTION_API_KEY>

export NEXT_JS_INFURA_KEY=<YOUR_INFURA_KEY>
export NEXT_JS_DOMAIN_NAME=cointanda.com

export NEXT_JS_PORTIS_API_KEY=<YOUR_PORTIS_API_KEY>
export NEXT_JS_RPC_URL=https://public-node.testnet.rsk.co

export NEXT_JS_SMTP_HOST=<YOUR_SMTP_HOST>
export NEXT_JS_SMTP_PORT=<YOUR_SMTP_PORT>
export NEXT_JS_SMTP_USER=<YOUR_SMTP_USER>
export NEXT_JS_SMTP_PASS=<YOUR_SMTP_PASS>
export NEXT_JS_EMAIL_SENDER=<YOUR_EMAIL_TO_SEND>
export NEXT_JS_EMAIL_RECEIVE=<YOUR_EMAIL_TO_RECEIVE>